@import 'src/styles/colors';
@import 'src/styles/breakpoints';
@import 'src/styles/common';

.bg {
  background-color: $bgprimary;
}

.bg-light {
  background-color: $bgsecondary;
}

.wrapper {
  @include centered;

  padding: 12px;
  width: 100%;

  min-width: 200px;
  max-width: 600px;

  .info {
    flex-grow: 1;

    padding: 0 14px;
    color: $textprimary;

    .title {
      padding-bottom: 6px;
      font-size: 14px;
      font-weight: 700;
    }

    .artist {
      font-size: 14px;
      font-weight: 400;
    }
  }

  .icon {
    img {
      width: 56px;
      height: 56px;
    }
  }

  .controls {
    display: flex;

    .level {
      margin-right: 12px;
    }

    .favorite {
      cursor: pointer;
      @include centered;

      &-fill {
        svg {
          fill: $levelhard;
        }
      }

      &-border {
        svg {
          fill: $color;
        }
      }
    }
  }
}
